body{
    background-color: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls{
    margin: auto;
    display: flex;
    width:50%;
    justify-content:space-evenly;

}
input{
    width: 4cm;
}
.controls>div{
    width: 8cm;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.image{
    border: 5px solid;
    border-color: white;
    background: aqua;
    text-align: center;
}

img{
    
  
   max-height: 100%;
   max-width: 100%;
   filter: blur(5px);
}
